/* HTML 에 존재하는 모든 div 선택 */
div{
  background-color:rgba(255, 204, 204,0.5);
}

/* HTML에서 id 값이 box인 요소 하나만 선택할때 */
#box{
  background-color:#7d5fff;
}
/* HTML에서 Class값이 list 인 모든 요소를 선택할때*/
.list{
  list-style: none;
}

/*box의 자식태그 중 ul을 불러올때*/
#box ul{
  padding:0
}